<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Add New Album to Inventory</h3>
  </div>
  <div class="panel-body">
    <div>
      <label>Store Name:</label>
      <br>
      <input #newName>
    </div>

    <div>
      <label>Details:</label>
      <br>
      <input #newDetails>
    </div>


    <br>
    <button class="btn btn-primary" (click)="submitForm(newName.value, newDetails.value); newName.value=''; newDetails.value=''">Add</button>
  </div>
</div>

<div>
  <app-store></app-store>
</div>
